[[source]]
name = "artifactory_mirror"
url = "https://registry.saas.cagip.group.gca/artifactory/api/pypi/pypi-remote/simple"
verify_ssl = false

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
numpydoc = "*"
bandit = "*"
twine = "*"
bump2version = "*"
vistir = {version = "<=0.6.1"}  # https://github.com/Madoshakalaka/pipenv-setup/issues/138
pipenv-setup = {version = "*", extras=["black"]}

[packages]
boto3 = "*"
loguru = "*"
tqdm = "*"
kdquery = "*"
numpy = "*"
pandas = ">=1.1.0,<2.0"
requests = "*"
sortedcontainers = "*"
unidecode = "*"
Geocoding-utils = {git = "https://github.com/chrlryo/Geocoding-utils", ref = "master"}

[api]
flask = "*"
flask_restx = "*"
flask_wtf = "*"
gunicorn = "*"
werkzeug = "*"

[requires]
python_version = "3"
