[[source]]
name = "artifactory_mirror"
url = "${PYPI_REMOTE}"
verify_ssl = false

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
numpydoc = "*"
bandit = "*"
twine = "*"
pipenv-setup = {version = "*", extras=["black"]}

[packages]
boto3 = "*"
loguru = "*"
tqdm = "*"
kdquery = "*"
numpy = "*"
pandas = "*"
requests = "*"
sortedcontainers = "*"
unidecode = "*"
Geocoding-utils = {git = "https://github.com/chrlryo/Geocoding-utils", ref = "master"}

[api]
flask = "*"
flask_restx = "*"
flask_wtf = "*"
gunicorn = "*"
werkzeug = "==2.1.2"

[requires]
python_version = "3"
